scripts/n8n/contactAutomation.json
{
  "name": "brandinlewis-contact-form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "REPLACE_WITH_WEBHOOK_PATH",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Contact Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-688, -48]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "secret-check-0001",
              "leftValue": "={{ $json.headers['x-contact-secret'] }}",
              "rightValue": "REPLACE_WITH_SHARED_SECRET",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Verify Shared Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-464, -48]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.body.timestamp }}",
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Company": "={{ $json.body.company }}",
            "Phone": "={{ $json.body.phone }}",
            "Message": "={{ $json.body.message }}",
            "Source": "={{ $json.body.source }}",
            "Status": "New"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Append Lead to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-240, -128],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "REPLACE_WITH_YOUR_EMAIL",
        "subject": "=New lead from brandinlewis.com: {{ $json.body.name }}",
        "message": "=<p><strong>Name:</strong> {{ $json.body.name }}</p>\n<p><strong>Email:</strong> {{ $json.body.email }}</p>\n<p><strong>Company:</strong> {{ $json.body.company }}</p>\n<p><strong>Phone:</strong> {{ $json.body.phone }}</p>\n<p><strong>Message:</strong></p>\n<p>{{ $json.body.message }}</p>\n<hr>\n<p><em>Received {{ $json.body.timestamp }} via {{ $json.body.source }}</em></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Notify Me",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-16, -128],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Reject (No-op)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-240, 64]
    }
  ],
  "pinData": {},
  "connections": {
    "Contact Form Webhook": {
      "main": [
        [
          {
            "node": "Verify Shared Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Shared Secret": {
      "main": [
        [
          {
            "node": "Append Lead to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject (No-op)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Lead to Sheet": {
      "main": [
        [
          {
            "node": "Notify Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
